<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Welcome! Create a new car here:</h2>
<form action="/cars" method="POST">
	<p>Name: <input type="text" name="name"></p>
	<p>Make: <input type="text" name="make"></p>
	<p>Lic#: <input type="text" name="licenseNumber"></p>
	<input type="submit" name="">
</form>
<h2>All cars created:</h2>
<ul>
	<% for (var i = 0;i<cars.length; i++){ %>
		<li><%= cars[i].name %> by <%= cars[i].make %> - license #<%=cars[i].licenseNumber %></li>
	<% } %>
</ul>
</body>
</html>